    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .navbar {
      background-color: white;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }


    .logo img {
      height: 110px;
    }

    .login button {
      padding: 8px 16px;
      background-color: #039;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    .search input[type="text"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 25rem;
    }

    .search button {
      padding: 8px 16px;
      background-color: #039;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 5px;
    }

    .login h2 {
      color: black;
    }

    /* hamburger */
    #menu__toggle {
      opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
      right: 0;
    }

    .menu__btn {
      position: absolute;
      top: 53px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }

    .menu__btn>span::before {
      content: '';
      top: -8px;
    }

    .menu__btn>span::after {
      content: '';
      top: 8px;
    }

    .menu__box {
      display: none;
      /* Hide menu box by default */
      position: absolute;
      top: 0;
      /* Position below the navbar */
      right: 0;
      width: 300px;
      margin-top: 10px;
      /* Adjust as needed */
      padding: 80px 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
    }

    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }

    .menu__item:hover {
      background-color: #CFD8DC;
    }

    /* Responsive */
    .navbar .logo .alternate-logo {
      display: none;
    }

    @media screen and (max-width: 430px) {
      .navbar .logo img {
        display: none;
      }

      .navbar .logo .alternate-logo {
        display: block;
        height: 40px;
      }

      .navbar .search,
      .navbar .login {
        display: none;
      }

      .navbar .hamburger-menu {
        display: block;
      }
    }